<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0
    col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
    <div class="form">
      <form (click)="findName()" #userForm="ngForm">
        <div class="form-group">
          <input type="text" placeholder="Input your username" [(ngModel)]="userName" name="userName" />
        </div>
        <button type="Submit" class="btn btn-success btn-lg">
          Search User
        </button>
      </form>
    </div>

    <div class="panel panel-info">
      <!-- <div class="panel-heading"> -->
      <h3 class="panel-title">{{ user.login }}</h3>
      <!-- </div> -->
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-3 col-lg-3">
            <img alt="User Image" src="{{ user.avatar_url }}" class="img-circle img-responsive" />
          </div>


<div class="col-lg-3 col-lg-3">
          <div class="table">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>Full Name:</td>
                  <td>{{ user.name }}</td>
                </tr>
                <tr>
                  <td>Repositories:</td>
                </tr>

                <tr>
                  <td>
                    {{ user.repos_url }}
                  </td>
                  <td>
                    <a href="{{ user.repo_url }}" class="btn btn-primary">View all Repositories</a>
                  </td>
                </tr>

                <tr>
                  <td>Followers</td>
                  <td>{{ user.followers_url }}</td>
                </tr>

                <tr>
                  <td>Following</td>
                  <td>{{ user.following_url }}</td>
                </tr>
                <tr>
                  <td>Created</td>
                  <td>{{ user.createdAt | timePass }}</td>
                </tr>
              </tbody>
            </table>
            </div>


            <a href="{{ user.repo_url }}" class="btn btn-primary">View User on Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <p style="font-size: 15px;">Created by GithubAPI</p>
      </div>
    </div>
  </div>

